.worktrees/
.assets
.docs
.env
*.pyc
dist/
build/
*.egg-info/
*.egg
*.pycs
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
.venv_bridge_test
nano.*.save
container_up_runtime/
.DS_Store
uv.lock
